/* Global styles */
body {
  background-color: aliceblue;
}

H1 {
  color:white;
  padding: 20px auto;
}

H5 {

}

header {
  padding: 30px 0;
  background-color: brown;
}

.card {
  margin: 0 20px 30px 20px;

}

/* Manager styles */


/* Employee styles */


/* Intern styles */